

.second-list{
    background-color: black;
    color: #fff;
    width: 200px;
    height: 80px;
    font-size: 18px;
    font-family: sans-serif;
    text-align: center;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid bisque;
    margin: 10px;
}